.col-6.right{
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: cover;
    width: 500px;
}
.logo{
    margin-bottom: 120px;
}
h1{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.head{
    color: hsl(0, 36%, 70%);
}
.heading{
    color: hsl(0, 6%, 24%);
}
p{
    color: hsl(0, 36%, 70%);
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  margin-bottom: 100px;
}
input{
    border-radius: 20px;
    padding: 10px;
    padding-left: 50px;
    margin-left: 0px;
    width: 300px;
    outline-width: 0;
    
}
.email{
    background-color: hsl(0, 80%, 86%);
    border-radius: 40px;
    padding: 10px;
    padding-right: 40;
    padding-left: 30px;
    margin-left: 0px;
    position: relative;
    top: -1px;
    left: -30px;
    outline-width: 0;
}
form{
    margin-bottom: 50px;
}
.col-6 {
    padding: 0;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
}